@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Mode Colors */
        --background-light: #242424;
        --text-light: #ffffff;
        --nav-background-light: #1f1f1f;
        --nav-text-light: #ffffff ;
        --section-background-light: #333;
        --section-text-light: #ffffff;
        --project-background-light: #2c2c2c;
        --project-text-light: #b3b3b3;
        --border-color-dark: #bdb3b3;
        --underline-color: rgb(34, 152, 255);
        --active-color-light: blue;
        --social-colors:black;
        --cursor-on-social-icons: #007bff;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.container-me {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.container-typewriter {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
    overflow: hidden;
}


.container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 0;
}

.container-cv {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
}


.container-experience {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-download {
    text-align: center;
    width: 25%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.container-download:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
}

nav {
    height: 10%;
    padding: 15px 0;
    position: relative; 
}

.index-nav {
    height: 450px; /* Ensure same height as other pages */
}

.projects-nav {
    height: 60px; /* Ensure same height as other pages */
}

nav .navigation {
    position: fixed; 
    top: -10px; 
    left: 0;
    right: 0;
    margin-bottom: 10px;
    justify-content: left;
    border-bottom: 1px solid var(--border-color-dark); 
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 0.9em;
    color: var(--nav-text-dark);
}

/* Hover Effects */
.navigation ul li a:hover {
    color: var(--underline-color); 
}

/* Show underline on hover */
.navigation ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
}

body.dark-mode .navigation ul li a:hover {
    color:rgb(140, 36, 119);
}

body.dark-mode .projects-container {
    transition: background-color 1s, color 1s; /* Smooth transition with 2s duration */
    color: #010000; /* Ensure text is white in all sections */
}

/* Active Link Styles */
.navigation ul li a.active {
    color: var(--active-color-light); /* Active color for light mode */
}


body.dark-mode .navigation ul li a.active {
    color:rgb(225, 61, 146);
}

body.dark-mode .navigation {
    background-color: rgba(31, 31, 31, 0.8);
}
.hero-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.01%;
    margin-top: 2%;
    padding: 4px 0; /* Add padding to control space around content */

}

@media (max-width: 1024px) {
    .hero-section {
        height: auto;
    }
    .container-me {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        justify-content: center;
    }

    .me-image {
        order: -1; /* Place the image before the text */
        margin-bottom: 20px; /* Add space between the image and text */
    }


}

.hero-section h2 {
    font-size: 50px;
}


.typing-text {
    display: inline-block;
    font-size: 1em;
}

.hero-section h2 {
    font-size: 50px;
}

.hero-section p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}



.project-item, .blog-post {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.project-item h {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-item h3, .blog-post h3 {
    margin-bottom: 10px;
}

.project-icon {
    width: 90px;
    height: 90px;
    margin-right: 20px;
    border-radius: 100%; 
    object-fit: cover;    /* Ensures the image fits the circular shape */
}

.projects-section {
    flex-direction: column;
}

.ministere-icon {
    width: 140px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

.completude-icon {
    width: 140px;
    height: 60px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.centrale-icon {
    width: 200px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}


.icon i {
    font-size: 20px;
    color: var(--nav-background-light); 
}

body.dark-mode .icon i  {
    color: #ffffff; 
    transition : color 0.3s;
}


footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.degree {
    color: #fff;
}


.illustration {
    margin-top: 40px;
}

.illustration img {
    width: 400px;
    max-width: 100%;
}



.projects-research-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: auto;
    margin-top: 80px;
}

.projects-content, .research-content {
    width: 48%; 
    height: 100%;
}

.projects-content {
    text-align: center;
}

.research-content {
    text-align: center;
}

.projects-container {
    display: grid;
    gap: 40px;
    justify-items: center;
}

.project-item {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-item h3 {
    margin-top: 0;
}

.project-item p {
    color: #666;
    text-align: justify;
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.projects-content, .research-content {
    height: 500px; /* Adjust as needed */
}


.education-section {
    width: 60%;
    border-radius: 10px;
}

.education-item {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
    
}

.education-item:hover {
    transform: scale(1.05);
}

.education-item .icon {
    padding: 10px;
    margin-right: 15px;
}

.education-item .icon img {
    background-color: #1f1f1f;
    width: 25px;
    height: 25px;
}



.education-item .details {
    flex-grow: 1;
}

.education-item .details h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
}

.education-item .details p {
    margin-top: 5px;
    font-size: 0.9em;
}

.education-item .details {
    text-align: center; /* Center the text and links inside the details div */
    margin: 0 auto; /* Center the entire details div horizontally */
}


.education-item .year {
    font-weight: 300;
    font-size: 0.9em;
    padding-left:px;
}

.illustration {
    margin-top: 40px;
}

.illustration img {
    width: 400px;
    max-width: 100%;
}


.me-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.me-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.me-content p {
    flex: 1;
    margin: 10px;
    line-height: 1.6;
    text-align: justify; 
    font-size: 15px;
}

.me-image {
    margin-top: 50px;
    margin-left: 10px;
    width: 210px;
    height: 310px;
    border-radius: 8px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.back-to-top:hover {
    background-color: #555;
    transform: scale(1.1);
}
/* Social Icons Styles */
.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-icons .icon {
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons .icon-linkedin {
    font-size: 40px;
    padding-right: 20px;
    color: var(--social-colors);
}

.social-icons .icon-github {
    font-size: 40px;
    padding-right: 20px;
    color: var(--social-colors);
}

.social-icons .icon-mail {
    font-size: 40px;
    color: var(--social-colors);
}

.social-icons .icon-linkedin:hover {
    color: var(--cursor-on-social-icons);
}
.social-icons .icon-github:hover {
    color: var(--cursor-on-social-icons);
}

.social-icons .icon-mail:hover {
    color: var(--cursor-on-social-icons);
}


.teaching-section {
    text-align: center;
    margin-bottom: 50px;
}

.teaching-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.teaching-list {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.teaching-item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    overflow: hidden; 
    word-wrap: break-word;
}

.teaching-item:hover {
    transform: translateY(-5px);
}

.school-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%; 
}

.teaching-details {
    justify-content: center;
}

.teaching-details h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.teaching-details p {
    margin: 5px 0;
    font-size: 1em;
    color: #666; /* Adjust color as needed */
    line-height: 1.6;
}

.download-link {
    font-size: 18px;
    color: #666;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, color 0.3s;
}

.download-link:hover {
    color: var(--cursor-on-social-icons);
}

/* Light/Dark Mode Toggle Styles */


body.dark-mode {
    background-color: #1E1E1E ; /* Dark mode background */
    color: #e0e0e0; /* Dark mode text */
}

/* Hide the checkbox visually */
#darkmode-toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Container for the toggle switch */
.theme-toggle {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 0; 
    margin-right: 20px;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0 10px;
    position: relative;
}

.sun-icon, .moon-icon {
    font-size: 20px;
    position: absolute;
    margin: 0; 
    padding: 0; 
    border: none;
    background: none;
    margin-top: 17px;
}

.sun-icon {
    color: #f39c12; /* Sun color */
    opacity: 0; /* Start with moon icon hidden */

}

.moon-icon {
    color: #3498db; /* Moon color */
}


#darkmode-toggle:checked + .toggle-label .sun-icon {
    opacity: 1; /* Hide moon icon */
}

#darkmode-toggle:checked + .toggle-label .moon-icon {
    opacity: 0; /* Show sun icon */
}


body.dark-mode .hero-section,
body.dark-mode .title,
body.dark-mode .project-item,
body.dark-mode footer,
body.dark-mode .about-section,
body.dark-mode .education-section 
body.dark-mode .projects-section,
body.dark-mode .blog-section,
body.dark-mode .contact-section,
body.dark-mode .me-section,
body.dark-mode .experience,
body.dark-mode .hero-section,
body.dark-mode .container,
body.dark-mode .container h2 {
    transition: background-color 0.3s, color 0.3s; 
    color: #ffffff; 
}

body.dark-mode .download-link {
    color: #b3b3b3;
}
body.dark-mode .projects-container {
    transition: background-color 0.3s, color 0.3s; 
    color: #010000; 
}


body.dark-mode .container-download {
    transition: background-color 0.3s, color 0.3s;
    color: #010000; 
}

body.dark-mode .social-icons .icon {
    color: white; /* White icon color for dark mode */
}

body.dark-mode .social-icons .icon-linkedin {
    color: white;
}

body.dark-mode .social-icons .icon-github {
    color: white;
}

body.dark-mode .social-icons .icon-mail {
    color: white;
}

body.dark-mode .social-icons .icon-linkedin:hover {
    color:rgb(140, 36, 119);
}

body.dark-mode .social-icons .icon-github:hover {
    color:rgb(140, 36, 119);
}

body.dark-mode .social-icons .icon-mail:hover {
    color:rgb(140, 36, 119);
}



body.dark-mode .download-link:hover {
    color:rgb(140, 36, 119);
}

