body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black; /* Default text color set to black */
}

.container1, .container {
    width: 80%;
    margin: auto;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
}

nav {
    background: #333;
    color: #fff;
    padding: 15px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero-section {
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h2 {
    font-size: 50px;
}

.hero-section p {
    font-size: 20px;
}


.typing-text {
    display: inline-block;
    font-size: 1em;
}

.hero-section h2 {
    font-size: 50px;
    color: black;
}

.hero-section p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}

.about-section, .projects-section, .blog-section, .contact-section {
    padding: 50px 0;
}

.about-section h2, .projects-section h2, .blog-section h2, .contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.project-item, .blog-post {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.project-item h3, .blog-post h3 {
    margin-bottom: 10px;
}

.project-icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%; 
}

.projects-section {
    flex-direction: column;
}


footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.degree {
    color: #fff;
}

.education-section {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.education-item {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
}

.education-item:hover {
    transform: scale(1.05);
}

.education-item .icon {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.education-item .icon img {
    width: 25px;
    height: 25px;
}

.education-item .details {
    flex-grow: 1;
}

.education-item .details h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
}

.education-item .details p {
    margin: 5px 0 0;
    font-size: 0.9em;
    color: black;
}

.education-item .year {
    font-weight: 300;
    font-size: 0.9em;
    color: black;
}

.illustration {
    margin-top: 40px;
}

.illustration img {
    width: 400px;
    max-width: 100%;
}

.projects-section {
    padding: 50px 0;
    text-align: center;
}

.projects-container {
    display: grid;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item h3 {
    margin-top: 0;
}

.project-item p {
    color: #666;
    /*text-align: justify;   */  
}
.project-link {
    text-decoration: none;
    color: inherit;
}


.toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-btn:hover {
    background-color: #555;
    color: #fff;
}

.me-section {
    padding: 20px;
}

.me-content {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* Align items to the top of the container */
}

.me-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.me-content p {
    flex: 1;
    margin: 10px;
    line-height: 1.6;
    text-align: justify; 
    font-size: 15px;
}

.me-image {
    margin-top: 50px;
    margin-left: 10px;
    width: 230px;
    height: 270px;
    border-radius: 8px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}

.back-to-top:hover {
    background-color: #555;
    transform: scale(1.1);
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --text: #fff;
    }

    .social-icons .icon {
        color: var(--icon-dark);
    }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --text: #000;
    }

    .social-icons .icon {
        color: var(--icon-light);
    }
}

.social-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.social-icons .icon {
    font-size: 40px;
    text-decoration: none;
}

.social-icons .icon:hover {
    opacity: 0.7;
}


.teaching-section {
    padding: 50px 0;
    text-align: center;
}

.teaching-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333; /* Adjust color as needed */
}

.teaching-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.teaching-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.teaching-item:hover {
    transform: translateY(-5px);
}

.school-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%; 
}

.teaching-details {
    text-align: left;
}

.teaching-details h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333; /* Adjust color as needed */
}

.teaching-details p {
    margin: 5px 0;
    font-size: 1em;
    color: #666; /* Adjust color as needed */
    line-height: 1.6;
}



/* Light/Dark Mode Toggle Styles */
#darkmode-toggle {
    margin-top: 10px;
    display: none;
}

#darkmode-toggle + label {
    width: 60px; /* Adjusted width */
    height: 30px; /* Adjusted height */
    background: #ebebeb;
    border-radius: 15px; /* Adjusted border radius */
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background 0.3s;
}

#darkmode-toggle + label:before {
    content: "";
    width: 25px; /* Adjusted width */
    height: 25px; /* Adjusted height */
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    position: absolute;
    top: 2.5px; /* Adjusted position */
    left: 2.5px; /* Adjusted position */
    transition: transform 0.3s;
}

#darkmode-toggle:checked + label {
    background: #242424;
}

#darkmode-toggle:checked + label:before {
    transform: translateX(30px); /* Adjusted distance */
    background: linear-gradient(180deg, #777, #3a3a3a);
}

body.dark-mode {
    background: #242424;
    color: #ffffff;
}

body.dark-mode .background {
    background: #242424;
}

body.dark-mode .hero-section,
body.dark-mode .title,
body.dark-mode .project-item,
body.dark-mode footer,
body.dark-mode .about-section,
body.dark-mode .education-section 
body.dark-mode .projects-section,
body.dark-mode .blog-section,
body.dark-mode .contact-section,
body.dark-mode .me-section,
body.dark-mode .experience,
body.dark-mode .hero-section h2,
body.dark-mode .projects-section {
    transition: background-color 2s, color 2s; /* Smooth transition with 2s duration */
    color: #ffffff; /* Ensure text is white in all sections */
}



